QDialog#OBNWelcomeModel
{
        // background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0#283345,stop:0.5#151c26,stop:1#020407);
}

QToolBar{
        // background-color:#283345;
}

QToolBar::tab {
}

QLineEdit {	
}

QMenuBar{
        // background-color:#283345;
}



